section.header
	.header_logo
		a
			span Indo
			|Tourism
	ul.header_menu
		li
			a(href="#") Home
		li
			a(href="#") About us
		li
			a(href="#") Projects
		li
			a(href="#") Contacts us

section.main_banner
	.main_banner-text
		p I Like To Ask The Same Question
		p Many Many Times
	.main_banner-image
		img.main_img(src="static/img/content/bg_banner.jpg" alt="Баннер")
	.main_banner-batton
		a(href='#') Ok ask me
	.main_banner-gallary
		.main_banner-gallary--title Places You Must Visit In Your Lifetime
		.main_banner-gallary--row
			.main_banner-gallary--cell1
				span Azheekal
			.main_banner-gallary--cell2
				span Ooty
			.main_banner-gallary--cell3
				span Munnar
			.main_banner-gallary--cell4
				span Humpi
			.main_banner-gallary--cell5
				span Kovalam
		.main_banner-gallary--row
			.main_banner-gallary--cell6
				span Kuttanad
			.main_banner-gallary--cell7
				span Thenmala
			.main_banner-gallary--cell8
				span Beach
			.main_banner-gallary--cell9
				span Munnar
			.main_banner-gallary--cell10
				span Punaloor
section.features
	.features-block
		.features-text
			span We’ve since expanded our life list to 43 sites around the world
			span 43 sites around the world
		.features-allIcon
			.features-icon
				span.icon1 Sites the world
			.features-icon
				span.icon2 Shopping
			.features-icon
				span.icon3 Photography
			.features-icon
				span.icon4 Sites the world
footer.footer
	span Designed by cssauthor.com
