.header
	width 100%
	max-width 1280px
	margin 0 auto
	padding 20px 152px 20px
	overflow hidden
	background-color #fff
	
	a
		color #8d8d8d
		cursor pointer

	.header_logo
		float left
		font-size 30px
		
		& a
			display block

		& span
			font-family boldFont
			color #1298dd

.header_menu
	float right

	li
		display inline-block
		margin-right 10px

		a
			font-size 18px
			padding 0px 9px 0px

			&:hover,
			&:focus
				background linear-gradient(to top, #36b1f7, #1784d1)
				color #fff
				border-radius 3px

/*Menu*/

.main_banner
	width 100%
	max-width 1280px
	position relative
	margin-bottom 0px

.main_banner-text
	position absolute
	top 16%
	left 50%
	width 850px
	margin-left -425px
	text-align center
	text-transform uppercase
	color #fff
	font-size 40px
	
	& p:first-child
		font-family boldFont

.main_img
	display block
	margin 0 auto
	background-size cover
	
.main_banner-batton
	position absolute
	top 50%
	left 50%
	margin-left -137px
	width 100%
	max-width 275px

	a
		display block
		border-radius 5px
		background linear-gradient(to top, #6dd157, #35af23)
		color #fff
		font-family boldFont
		font-size 32px
		text-align center
		padding 5px 20px 10px

.main_banner-gallary
	width 100%
	max-width 483px
	position absolute
	bottom -25%
	left 50%
	margin-left -241px
	background-color #fff
	color #8d8d8d
	border-radius 4px
	border-bottom 7px solid #51c03d
	font-family mainFont
	font-size 14px
	z-index 10

.main_banner-gallary span
	display block
	margin-top 	56px

.main_banner-gallary--title
	font-size 18px
	text-align center
	padding 22px 67px 22px
	
.main_banner-gallary--row
	text-align center
		
.main_banner-gallary--cell1
	display inline-block
	background url(../img/content/slide-1.jpg) 0 0 no-repeat
	width 79px
	height 82px
	margin-right 8px

.main_banner-gallary--cell2
	display inline-block
	background url(../img/content/slide-2.jpg) 0 0 no-repeat
	width 79px
	height 82px
	margin-right 8px

.main_banner-gallary--cell3
	display inline-block
	background url(../img/content/slide-3.jpg) 0 0 no-repeat
	width 79px
	height 82px
	margin-right 8px

.main_banner-gallary--cell4
	display inline-block
	background url(../img/content/slide-4.jpg) 0 0 no-repeat
	width 79px
	height 82px
	margin-right 8px

.main_banner-gallary--cell5
	display inline-block
	background url(../img/content/slide-5.jpg) 0 0 no-repeat
	width 79px
	height 82px

.main_banner-gallary--cell6
	display inline-block
	background url(../img/content/slide-6.jpg) 0 0 no-repeat
	width 79px
	height 82px
	margin-right 8px

.main_banner-gallary--cell7
	display inline-block
	background url(../img/content/slide-7.jpg) 0 0 no-repeat
	width 79px
	height 82px
	margin-right 8px

.main_banner-gallary--cell8
	display inline-block
	background url(../img/content/slide-8.jpg) 0 0 no-repeat
	width 79px
	height 82px
	margin-right 8px

.main_banner-gallary--cell9
	display inline-block
	background url(../img/content/slide-9.jpg) 0 0 no-repeat
	width 79px
	height 82px
	margin-right 8px

.main_banner-gallary--cell10
	display inline-block
	background url(../img/content/slide-10.jpg) 0 0 no-repeat
	width 79px
	height 82px

section.features
	width 100%
	max-width 1280px
	height 568px
	position relative
	background-color #ececec
	margin-bottom 0
	border-top 1px solid transparent
	
.features-block
	margin-top 210px

.features-text
	width 100%
	min-width 689px

	span
		display block
		color #8d8d8d
		font-family mainFont
		font-size 18px
		text-align center
		
	span:last-child
		font-size 16px
		
.features-allIcon
	width 100%
	max-width 753px
	margin 53px auto 0
	
.features-icon
	display inline-block
	width 130px
	height 130px
	text-align center
	margin-right 73px
	border-radius 50%
	
	&:last-child
		margin-right 0
	& span
		display block
		color #8d8d8d
		margin-top 150px
		
.features-icon:nth-child(1)
	background #fff url(../img/sprite/globus.png) center no-repeat
	
.features-icon:nth-child(2)
	background #fff url(../img/sprite/busket.png) center no-repeat
	
.features-icon:nth-child(3)
	background #fff url(../img/sprite/photo.png) center no-repeat
	
.features-icon:nth-child(4)
	background #fff url(../img/sprite/search.png) center no-repeat
	
footer.footer
	width 100%
	max-width 1280px
	padding 3px 0 3px
	background-color #414141
	color #8d8d8d
	text-align center
	font-size 14px



